{% extends "base.html" %}
{% load static %}

{% block shrift %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Nosifer&display=swap" rel="stylesheet">
    <style>
        body {
            background: url({% static "img/fon-reg.jpg" %}) no-repeat center center fixed;
            background-size: cover;
            min-height: 100vh;
            margin: 0;
            overflow-x: hidden;
        }
    </style>
{% endblock shrift %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/news_update.css' %}">
{% endblock css %}
{% block title %}Редактирование{% endblock title %}

{% block content %}
<section class="main">
    <div class="container">
        <h1>Редактировать новость</h1>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Сохранить изменения</button>
        </form>

        <hr>


        <p><a href="{% url 'news_detail' news.pk %}">← Назад к новости</a></p>
    </div>
</section>
{% endblock %}