{% extends "base.html" %}
{% load static %}

{% block shrift %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Nosifer&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Nosifer&display=swap" rel="stylesheet">
    <style>
        .main{
            background: url({% static "img/main-foto.png" %}) no-repeat center center/cover;
        }
    </style>
    {% endblock shrift %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/style.css" %}">
{% endblock css %}

{% block title %}Студенческий педагогический отряд{% endblock title %}

{% block content %}
    <section class="main">
        <div class="overlay"></div>
        <div class="content">
            <h1 class="title">АРТ</h1>
            <h2 class="subtitle">студенческий педагогический отряд</h2>
            <p class="text">
                Это самый первый Педагогический отряд, возникший на территории Новгородской области.
                С 2006 года наш отряд работает, развивается и несёт за собой огромную историю.
                У каждого атмосфера своя, у нас она огненная!
            </p>
        </div>
        <img src="{% static "img/foto1.png" %}" class="photo photo1">
        <img src="{% static "img/foto2.png" %}" class="photo photo4">
        <img src="{% static "img/foto3.png" %}" class="photo photo3">
        <!-- <img src="image/foto4.png" class="photo photo2"> -->
        <img src="{% static "img/foto5.png" %}" class="photo photo5">
    </section>
{% endblock content %}

