<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Nosifer&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Nosifer&display=swap" rel="stylesheet">
    <title>Студенческий педагогический отряд</title>
</head>
<body>
    <header>
        <section>
            <a href=""><img src="image/logo-art.png" alt=""></a>
        </section>
        <section class="head-search">
            <ul>
                <a href="" class="link">Наши новости</a>
                <a href="" class="link midle-ref">Комсостав</a>
                <a href="" class="link">Школа вожатых</a>
                <a href="registrarion/registration.html" class="link last-link">Войти</a>
            </ul>
        </section>
    </header>
    <section class="main">
        <div class="overlay"></div>
        <div class="content">
            <h1 class="title">АРТ</h1>
            <h2 class="subtitle">студенческий педагогический отряд</h2>
            <p class="text">
                Это самый первый Педагогический отряд, возникший на территории Новгородской области.
                С 2006 года наш отряд работает, развивается и несёт за собой огромную историю.
                У каждого атмосфера своя, у нас она огненная!
            </p>
        </div>
        <img src="image/foto1.png" class="photo photo1">
        <img src="image/foto2.png" class="photo photo4">
        <img src="image/foto3.png" class="photo photo3">
        <!-- <img src="image/foto4.png" class="photo photo2"> -->
        <img src="image/foto5.png" class="photo photo5">
    </section>
</body>
</html>
