{% extends "base.html" %}
{% load static %}

{% block shrift %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Nosifer&display=swap" rel="stylesheet">
    <style>
        body{
            background: url({% static "img/fon-reg.jpg" %}) no-repeat center center/cover;
        }
    </style>
{% endblock shrift %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/participants.css" %}">
{% endblock css %}
{% block title %}Участники{% endblock title %}

{% block content %}

<section class="main">
    <div class="container">
        <h2 class="title">Участники</h2>
        <section class="friends">
            <h3 class="subtitle">{{ title }} ({{ users|length }})</h3>
            {% for u in users %}
                <article class="already-friends">
                    <a class="midle" href="{% url 'user_profile' u.user.username %}">
                        {% if u.avatar %}
                            <img src="{{ u.avatar.image.url }}">
                        {% else %}
                        <img src="{% static "img/none-user.png" %}">
                        {% endif %}
                    </a>
                    <div class="name">
                        <div>
                            <a class="username" href="{% url 'user_profile' u.user.username %}">{{ u.user.first_name }}</a>
                            <a class="username" href="{% url 'user_profile' u.user.username %}">{{ u.user.last_name }}</a>
                        </div>
                        <div class="status bricks">{{ u.bricks }}</div>
                    </div>
                </article>
            {% endfor %}
        </section>
    </div>
</section>
{% endblock content %}
