* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

header{
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 3;
    transition: transform .3s linear, background-color 0.3s ease, color 0.3s ease;
    justify-content: space-between;
    margin-top: 5vh;
    img{
        width: 130px;
        height: 130px;
        margin-left: 7vw;
        /* filter: grayscale(50%); */
    }
    .head-search{
        display: flex;
        align-items: center;
        justify-content: center;
        .link{
            font-size: 30px;
            text-decoration:none;
            position:relative;
         
         }
         
        .link:before{
            position:absolute;
            bottom: -10px;
            content: " ";
            border-bottom: 3px solid white;
            left:50%;
            width:0%;
            transition: all 0.3s;
            
         }
         
        .link:hover:before{
            width:100%;
            left:0%;
            
         }

        ul{
            margin-right: 7vw;
        }
        .midle-ref{
            margin-inline: 4vw;
        }
        .last-link{
            margin-left: 4vw;
        }

        
    }
}

input[type="number"],
input[type="text"],
input[type="url"],
textarea{
    border-radius: 7px;
    border: solid #f5e3cf;
    resize: none;
    padding-left: 10px;
    font-size: 16px;
    color: #5a4a42;
}

input[type="file"] {
    position: relative;
    padding: 0.5rem;
    font-size: 1rem;
    color: #3e2723;
    background-color: #f8f9fa;
    border: 2px solid #f5e3cf;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

input[type="file"]::file-selector-button {
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    border: none;
    border-radius: 8px;
    background: linear-gradient(135deg, #e4bd82 0%, #e7cd75 100%);
    color: #3e2723;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s ease;
}

input[type="file"]::file-selector-button:hover {
    background: linear-gradient(135deg, #557c0c 0%, #b3a815 100%);
    color: #fff;
}