*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    width: 100vw;
    height: 100vh;
}

.overlay
{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}

.content{
    height: 530px;
    width: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid black; */
    border-radius: 12px;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.5);
    
    h2{
        margin-top: 35px;
        font-size: 30px;
        color: #a38686;
    }

    .form-group
    {
        display: flex;
        flex-direction: column;
        align-items: left;
        margin-block: 15px;
        p{
            margin-bottom: 5px;
        }
        input{
            border: none;           /* Убираем стандартную рамку */
            border-bottom: 2px solid #ffffff; /* Добавляем линию снизу */
            outline: none;          /* Убираем свечение при фокусе */
            padding: 5px 0;       
            background: transparent; 
            width: 230px;
        }
        input:focus {
            outline: none !important;
            box-shadow: none;
        }

    }
    .btn{
        display: flex;
        align-items: center;
        justify-content: center;
        button{
            padding-inline: 15px;
            padding-block: 5px;
            border-radius: 7px;
            background: linear-gradient(135deg, #e4bd82 0%, #e7cd75 100%);
            border: none;
            font-size: 16px;
            margin-bottom: 10px;
    }
}
}

a:active, /* активная/посещенная ссылка */
a:hover,  
a:link,
a:visited 
a {
  text-decoration: none;
  color: #fd7b7b;
  
}

