*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    width: 100vw;
    height: 100vh;
}

.overlay
{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}

.content{
    height: 700px;
    width: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid black; */
    border-radius: 12px;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.5);
    margin-top: 60px;
    
    h2{
        margin-top: 35px;
        font-size: 30px;
        color: #a38686;
    }

    .form-group
    {
        display: flex;
        flex-direction: column;
        align-items: left;
        margin-block: 15px;
        p{
            margin-bottom: 5px;
        }
        input{
            border: none;           
            border-bottom: 2px solid #d4c8b8; 
            outline: none;         
            padding: 5px 0;       
            background: transparent; 
            width: 230px;
            font-size: 16px;
            color: #5a4a42;
        }
        input:focus {
            outline: none !important;
            box-shadow: none;
        }

    }
    .btn{
        display: flex;
        align-items: center;
        justify-content: center;
        button{
            padding-inline: 15px;
            padding-block: 5px;
            border-radius: 7px;
            background: linear-gradient(135deg, #e4bd82 0%, #e7cd75 100%);
            border: none;
            font-size: 16px;
            margin-block: 13px;
    }
}
}

a:active, 
a:hover,  
a:link,
a:visited 
a {
  text-decoration: none;
  color: #fd7b7b;
  
}

.link{
    color: #800000;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #f5ddcf inset !important; /* или другой фон */
  -webkit-text-fill-color: #5a4a42 !important; /* цвет текста */
}

.cont{ 
    height: 400px;
}